body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#indicador {
	width: 230px;
	background: #FFCC00;
	opacity: 100%;
	height: 4px;
	margin-top: 4px;
	transition: transform 0.7s;
}

#form-container {
	width: 470px;
	height: 900px;
	position: relative;
	padding: 20px 0;
	margin: auto;
	overflow: hidden;
}

#signin,
#signup {
	max-width: 500px;
	position: absolute;
	top: 80px;
	transition: transform 0.7s;
}

#signin {
	left: 0;
}

#signup {
	left: 500px;
}