<!-- <h1> Hola DAW 2!!</h1>
<app-componente1></app-componente1>
<app-componente2></app-componente2>
<app-componente3></app-componente3> -->
<!-- llamada a los componentes usando routing -->
<h2>Angular Router App</h2>
<nav>
  <ul>
    <li><a routerLink="/first">First Component</a></li>
    <li><a routerLink="/second">Second Component</a></li>
    <li><a routerLink="/third">Third Component</a></li>
  </ul>
</nav>
<!-- al final del menú es OBLIGATORIO poner router-outlet -->
<router-outlet></router-outlet>
