.fondoGif {
    background-image: url('src/assets/img/darksouls3.gif');
    background-size: cover; /* Para cubrir toda el área del body */
    animation: loopBackground 20s infinite; /* Reproducir en bucle cada 5 segundos */
    background-attachment: fixed;
}

@keyframes loopBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

